.App {
  /*position:relative;*/
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-content {
  position: relative;
  top: 64px;
  /*background-color: #222;*/
  margin: 0 auto;
  height: 100%;
  width: 70%;
  padding: 20px;
  text-align: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
